.watch {
    height: 50px;
    margin: 0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrap {
    height: 50px;
    width: 90%;
}

.widget {
    width: 120%;
}

.widget p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.fechaReloj {
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    font-size: 1em;
    color: #fff;
}

.reloj {
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    font-size: 1.1em;
    margin-left: 25%;
    margin-right: 25%;
    color:#fff;
}

.reloj .caja-segundosReloj {
    display: inline-block;
}